/* *{
    background-color: #18191A;
    color: whitesmoke;
} */
a{
    color: #26A69A;
}
.c-2{
    margin-bottom: 32px !important;
}
pre{
    padding: 10px !important;
}
.req-details{
    margin-top: 34px !important;
    padding-bottom: 32px !important;
    margin-bottom: 42px !important;
}
.ResponseBody{
        /* margin-top: 32px !important; */
    max-height: 320px !important;
    background-color: #DCDCDC
    ;
    overflow: auto !important;
    height: 320px !important;
    width: 320px !important;
}

.tabs .tab a{
    color:#26A69A;
} 

.tabs .tab a:hover {
    background-color:#eee;
    color:#26A69A;
} 

.tabs .tab a.active {
    background-color:whitesmoke;
    color:#26A69A;
} 

.tabs .indicator {
    background-color:#26A69A;
}
.tabs .tab a:focus.active {
    color:#26a69a;
    
    background-color: rgba(38, 166, 154, 0.2);
   
  }
  

.sub-container{
    /* display: grid; */
    margin-top: 45px !important;
    
   
}
.float-child{
    width: 40%;
    float: left;
    margin: 20px;
}

.delete-btn{
    margin-top: 30px !important;    
}
.submit-btn{
    margin-top: 16px !important;
}

textarea{
    height: 13rem !important;
    background-color: #DCDCDC;
    outline-color: #26A69A;
    border: none !important;
      
}
.text> p{
    text-align: center !important;
}